.search-bar {
    position: relative;
  }
  
  .search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .search-results li {
    padding: 25px;
    cursor: pointer;
  }
  
  .search-results li:hover {
    background: #f0f0f0;
  }
  
  /* Update the link styles */
  .list-product {
    color: black; /* Set the text color to black */
    text-decoration: none; /* Remove underline */
  }
  
  .list-product:hover {
    color: #007BFF; /* Optional: Add a hover effect */
  }
  